.Detalhes {
    padding: 1.5rem;
    position: relative;
    margin: 1rem 0;
    border-radius: .25rem;
    background-color: #dafaee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .14);
  }
  
  .Detalhes:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .14);
  }
  
  .Detalhes ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
  }
  
  .Detalhes ul li strong {
    color: #e22b2b;
  }
  
  .Detalhes button {
    top: 0.5rem;
    right: 0.5rem;
    border: none;
    outline: none;
    color: #FFF;
    background: none;
    cursor: pointer;
    line-height: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: sans-serif;
    position: absolute;
    border-radius: 1.5rem;
    background-color: #ced4da;
    padding: .2rem .35rem .35rem .35rem;
  }
  
  .Detalhes button:hover,
  .Detalhes button:focus {
    color: #FFF;
    background-color: #FF6CA8;
  }

  #tabelaTrabalho{
    margin-top: 5%;
    margin-bottom: 3%;
  }

  #tabelaTrabalho h3{
    /*background-color: aliceblue;*/
    padding: 3px 3px 3px 3px;
    color: #5a5a5a;
    background-color: #ccf3ff;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3));
    border-radius: 3px;
  }

  .justify-text {
    text-align: justify;
  }

  .tabelaArea {
    padding: 1.5rem;
    position: relative;
    margin: 1rem 0;
    border-radius: .25rem;
    background-color: #f1fffc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .14);
  }
  
  .tabelaArea:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .14);
  }

  .tabelaArea p ,.tabelaArea a, .tabelaArea strong{
    background-color: #f1fffc;
  }

  .tabelaArea p{
    color: black;
    
  }

  .tabelaArea strong{
    color: black;
  }

  .tabelaArea table {
    border-collapse: separate;
    border-spacing: 15px;
  }
  
  .tabelaArea td {
    padding: 5px;
  }

  #tabelaTrabalho h3{
    align-items: center;
  }

  #tableArquivos {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    border-radius: .25rem;
    
  }

  #tableArquivos:hover {
   /* box-shadow: 0 5px 10px rgba(0, 0, 0, .14);*/
  }

  #tableArquivos .titleHeading{
    
    padding: 3px 3px 3px 3px;
    color: #5a5a5a;
    background-color: #ccf3ff;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3));
    border-radius: 3px;
  }

  #tableArquivos table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px; 
  }

  #tableArquivos th{
    background-color: #f0f0f0; 
    color: #333; 
    padding: 10px; 
  }

  #tableArquivos td {
    background-color: #fff; 
    padding: 10px;
    /*border: 1px solid #ccc; */
    border: none;
  }
  
  #tableArquivos td a {
    text-decoration: none;
  }

  #tableArquivos td a:hover {
    background-color: #e2e2e2;
    border-radius: 10px;
  }

  #btnView {
      background-color: #cbf5e4;
      border-color: #286149;
  }

  #divBTN a {
    background-color: #cbf5e4;
    color: #5a5a5a;
}

#tableArquivos #divBTN a:hover {
  background-color: #a4e6cb;
}