#accordionsButton .accordionsbox{
    box-shadow: none;
    border-color: none;
}

#accordionsButton button{
    background-color: #ffe4dc;
    width: 100%;
    align-items: center;
    border-color: #f8c5b5;
    
}

#accordionsButton #rlzBuscar button{
    width: 15%;
    background-color: #9ae0c4;
    color: #FFF;
}

#accordionsButton #rlzBuscar button:hover,
#accordionsButton #rlzBuscar button:focus {
    color: #FFF;
    background-color: #417580;
  }

#accordionsButton input{
    width: 25%;
}

#selectAreas {
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #c5faea;
    width: 420px;
    background-color: #ffefea;
  }
  
  #selectAreas option {
    /*font-size: 14px;*/
    font-size: 1rem;
    /*background-color:  rgba(196, 248, 224, 0.5);*/
    background-color: #ffefea;
    color: #333;
  }
  
  #selectAreas option:first-child {
    color: #888;
  }