#idcbx{
    padding: 8px;
    width: 320px;
}

#comboBox {
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #c5faea;
    width: 420px;
  }
  
  #comboBox option {
    /*font-size: 14px;*/
    font-size: 1rem;
    background-color:  rgba(196, 248, 224, 0.5);
    color: #333;
  }
  
  #comboBox option:first-child {
    color: #888;
  }

